/* Master Styles */
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap");

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    /* outline: 1px solid red; */
  }

  html,body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    background-color: #f3f5f9;
  }
  
  .wrapper{
    display: flex;
    position: relative;
    /* margin: 0px; */
  }
  
 /* Side-Bar CSS */

  .wrapper .sidebar{
    width: 13.1vw;
    height: 100vh;
    background: #c55081;
    padding: 0px 0px;
    position: fixed;
  }
  
  .wrapper .sidebar img{
    width: 200px;
    height: 50px
    margin-bottom: 90px;
  }
  
  .wrapper .sidebar ul li{
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    

  
  .wrapper .sidebar ul li a{
    color: #ffffff;
    display: block;
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 25px;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #8a4060;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }
   
  .wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .wrapper .sidebar .social_media a{
    display: block;
    width: 50px;
    background: #8a4060;
    height: 50px;
    line-height: 60px;
    text-align: center;
    margin: 0 5px;
    color: #ffffff;
    font-size: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
/* Main Content Area CSS */

  .wrapper .main_content{
    width: 100vw;
    margin-left: 13.1vw;
  }
  
  .wrapper .main_content .info{
    margin: 0px;
    color: #717171;
    line-height: 25px;
  }
  
  .wrapper .main_content .info div{
    margin-bottom: 0px;
  }

  .img_one {
      background: url(images/Food4.jpg) 0 0 no-repeat;
      display: block;
      height: 80vh;
      /* text-indent: -99999em; */
      width: 86vw;
      overflow: hidden;
      background-size: cover;
      transition: 0.8s ease-in-out, transform 1s;
      filter: brightness(90%);
  }

  .img_one:hover {
      box-shadow: inset 0 0 50px #000000;
	    transform: scale(.95);
      filter: brightness(80%);
  }

  .text {
    display: flex;
    margin-top: 500px;
    margin-left: 30px;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 70px;
    font-family:  'Shippori Mincho', serif;
  }

  .text-1 {
    display: flex;
    margin-top: 640px;
    margin-left: 30px;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 40px;
    font-family:  'Shippori Mincho', serif;
  }

  .text-2 {
    display: flex;
    margin-top: 60px;
    margin-left: 230px;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 40px;
    font-family:  'Shippori Mincho', serif;
  }

  p {
    margin-top: 40px;
    margin-left: 33px;
    text-shadow: 1px 1px black;
    color: white;
    font-size: 20px;
    font-family:  'Shippori Mincho', serif;
  }

  .img_two {
    background: url(images/Food6.jpg) 0 0 no-repeat;
    display: block;
    height: 90.1vh;
    /* text-indent: -99999em; */
    width: 43vw;
   /*  overflow: hidden; */
    background-size: cover;
    transition: 0.8s ease-in-out, transform 1s;
  }

  .img_two:hover {
    box-shadow: inset 0 0 50px #000000;
    filter: brightness(80%);
    transform: scale(.95);
}

  .img_three {
    background: url(images/Catering3.jpg) 0 0 no-repeat;
    display: block;
    height: 90.1vh;
   /*  text-indent: -99999em; */
    width: 43vw;
   /*  overflow: hidden; */
    background-size: cover;
    filter: brightness(90%);
    transition: 0.8s ease-in-out, transform 1s;
  }

  .img_three:hover {
    box-shadow: inset 0 0 50px #000000;
    transform: scale(.95);
    filter: brightness(80%);
}
 
  .two_images {
    display: flex;
  }

/* Menu CSS */

  .header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: xx-large;
  }

  .weekly_menu {
    margin-top: 20px;
    margin-left: 27vw;
    width: 500px;
    height: 650px;
  }

/* About Me CSS */

  .two_containers {
    display: inline-flex;
    background-color: white;
    height: 100vh;
  }

  .picture, .about_me {
    border-radius: 10px;
    display: inline-flex;
    width: 50%;
    vertical-align: middle;
  }

  .picture {
    width: 500px;
    height: 650px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 35px;
  }

  .about_me {
    text-align: left;
    margin-top: 100px;
    margin-left: -500px;
  }

  .text-3 {
    margin-top: 50px;
  }

  /* ORDER FORM CSS */

  .img_four {
    background: url(images/Food3.jpg) 0 0 no-repeat;
    display: block;
    height: 645px;
    /* text-indent: -99999em; */
    width: 446px;
    overflow: hidden;
    background-size: cover;
    transition: 0.8s ease-in-out, transform 1s;
    filter: brightness(90%);
    /* border-radius: 5%; */
  }

  .img_four:hover {
    box-shadow: inset 0 0 50px #000000;
    transform: scale(.95);
    filter: brightness(80%);
}

  .img_five {
    background: url(images/Food5.jpg) 0 0 no-repeat;
    display: block;
    height: 645px;
    width: 445px;
    overflow: hidden;
    background-size: cover;
    transition: 0.8s ease-in-out, transform 1s;
    filter: brightness(90%);
   /*  border-radius: 5%; */
  }

  .img_five:hover {
    box-shadow: inset 0 0 50px #000000;
    transform: scale(.95);
    filter: brightness(80%);
}

  .img_six {
    background: url(images/Food2.jpg) 0 0 no-repeat;
    display: block;
    height: 645px;
    width: 445px;
    overflow: hidden;
    background-size: cover;
    transition: 0.8s ease-in-out, transform 1s;
    filter: brightness(90%);
    /* border-radius: 5%; */
  }

  .img_six:hover {
    box-shadow: inset 0 0 50px #000000;
    transform: scale(.95);
    filter: brightness(80%);
  }

  .images {
    display: flex;
    object-fit: contain;
    /* justify-content: space-evenly; */
    /* align-items: center; */
  } 
  
  /* .btn-1 {
    border: 3px solid #fff;
    color: #8a4060;
  } THIS MAKES THE BUTTON TEXT BURGUNDY*/

  .btn {
    background-color: black;
    border: black 5px solid;
    font-family: inherit;
    font-size: inherit;
    background: white;
    cursor: pointer;
  padding: 25px 120px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 37%;
}

.btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1a:hover, .btn-1a:active {
  background: #8a4060;
  color: white;
}

@media (max-width: 1366px) {

  /* SIDEBAR CSS MOBILE */

  .wrapper .sidebar{
    height: 100vh;
    width: 19vw;
  }

  .wrapper .sidebar img {
    width: 19vw;
    height: 14vh;
    margin-bottom: 0px;
  }

  .wrapper .sidebar ul li{
    margin-top: 10px;
  }
  
  .wrapper .sidebar ul li a{
    font-size: xx-large;
    padding-top: 45px;
    padding-left: 40px;
  }

  .wrapper .sidebar ul li a .fas{
    width: 25px;
    padding-right: 60px;
  }

  .wrapper .sidebar .social_media a{
    width: 80px;
    height: 80px;
    line-height: 105px;
    font-size: 50px;
  }

  /* MAIN CONTENT AREA MOBILE CSS */

  .wrapper .main_content{
    margin-left: 19vw;
  }

  .text {
    margin-top: 440px;
    margin-left: 20px;
    font-size: 40px;
  }

  p {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
  }

  .text-1 {
    margin-top: 740px;
    font-size: 28px;
    margin-left: 10px;
  }

  .text-2 {
    margin-top: 18px;
    margin-left: 120px;
    font-size: 30px;
  }
  
  .img_one {
      height: 40vh;
      width: 82vw;
      background-size: cover;
      background-position: center center;
  }
  .img_two {
    height: 60vh;
    width: 40.5vw;
  }

  .img_three {
    height: 60vh;
    width: 40.5vw;
  }

  .two_images {
    display: grid 1fr 1fr;
    float: left;
    margin-left: 0px;
    background-size: cover;
  }

  /* ABOUT ME CSS MOBILE */

  .two_containers {
    display: block;
  }

  .picture, .about_me {
    width: 70vw;
  }

  .picture {
    width: 40vw;
    height: 44vh;
    margin-left: 210px;
  }

  .about_me {
    margin-top: 40px;
    margin-left: 60px;
    font-size: large;
  }

  .text-3 {
    text-align: center;
    font-size: 45px;
  }

  /* Menu CSS */

  .header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: xx-large;
  }

  .weekly_menu {
    margin-top: 80px;
    margin-left: 10vw;
    width: 62vw;
    height: 75vh;
  }
      
}

@media (max-width: 970px) {

  /* MAIN CONTENT AREA MOBILE CSS */

  .text {
    margin-top: 380px;
    margin-left: 20px;
  }

  p {
    margin-top: 16px;
    margin-left: 25px;
  }

  .text-1 {
    margin-top: 640px;
    margin-left: 10px;
    font-size: 25px;
  }

  .text-2 {
    margin-top: 18px;
    margin-left: 100px;
    font-size: 28px;
  }
     
}

@media (max-width: 770px) {
  
  .wrapper .sidebar ul li a{
    font-size: x-large;
    padding-top: 45px;
    padding-left: 20px;
  }

  .wrapper .sidebar ul li a .fas{
    width: 25px;
    padding-left: 20px;
  }

  /* MAIN CONTENT AREA MOBILE CSS */

  .text {
    margin-top: 320px;
    margin-left: 20px;
    font-size: xx-large;
  }

  .text-1 {
    margin-top: 540px;
    margin-left: 10px;
    font-size: 25px;
  }

  .text-2 {
    margin-top: 18px;
    margin-left: 100px;
    font-size: 28px;
  }
      
  /* ABOUT CSS MOBILE */

  .picture {
    width: 34vw;
    height: 36vh;
    margin-left: 180px;
  }

  .about_me {
    margin-top: 20px;
    margin-left: 50px;
    font-size: small;
  }

  .text-3 {
    font-size: 32px;
    margin-top: 20px;
  }

}

@media (max-width: 414px) {

  
  .wrapper .main_content{
    width: 100vw;
    margin-top: 7.8vh;
    margin-left: 0px;
  }

  .wrapper .sidebar{
    width: 100vw;
    height: 7.8vh;
    background: #c55081;
    padding: 0px 0px;
    display: inline-flex;
    flex-direction: row;
    position: absolute;
  }

  .wrapper .sidebar img {
    width: 15vw;
    height: 7.8vh;
    margin-bottom: 90px;
  }

  .wrapper .sidebar ul {
    display: flex;
    flex-direction: row;
  }

  .wrapper .sidebar ul li{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar ul li a{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    font-size: small;
    margin: 0px;
    padding: 0px;
  }

  .wrapper .sidebar ul li a .fas{
    /* width: 25px;
    top: 30px;
    position: absolute; */
    color: transparent;
    padding: 0px;
    top: 10px;
  }

  .wrapper .sidebar .social_media a{
    width: 40px;
    height: 40px;
    margin-left: 465px;
    line-height: 45px;
    font-size: 30px;
  }
  
  .img_one {
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
  }
  .img_two {
    height: 55vh;
    width: 50vw;
    background-size: cover;
    background-position: center center;
  }

  .img_three {
    height: 55vh;
    width: 50vw;
    background-size: cover;
    background-position: center center;
  }

  .text {
    margin-top: 240px;
    margin-left: 10px;
    font-size: x-large;
  }

  p {
    font-size: small;
    margin-top: 1px;
    margin-left: 14px;
  }

  .text-1 {
    margin-top: 320px;
    margin-left: 10px;
    font-size: 18px;
  }

  .text-2 {
    margin-top: 14px;
    margin-left: 100px;
    margin-right: 1px;
    font-size: 18px;
  }

  /* ABOUT CSS MOBILE */

  .two_containers {
    height: 206vh;
  }

  .picture, .about_me {
    width: 70vw;
  }

  .picture {
    width: 42vw;
    height: 36vh;
    margin-left: 120px;
  }

  .about_me {
    margin-top: 40px;
    margin-left: 60px;
    font-size: small;
  }

  .text-3 {
    text-align: center;
    font-size: 25px;
  }

  /* Menu CSS */

  .weekly_menu {
    margin-top: 40px;
    margin-left: 8vw;
    width: 85vw;
    height: 65vh;
  }

}

@media (max-width: 370px) {
  .text {
    margin-top: 190px;
  }

  .text-1 {
    margin-top: 280px;
    font-size: 16px;
  }

  .text-2 {
    margin-top: 14px;
    margin-left: 90px;
    margin-right: 1px;
    font-size: 15px;
  }

  /* ABOUT CSS MOBILE */

  .two_containers {
    height: 250vh;
  }

  .picture, .about_me {
    width: 70vw;
  }

  .picture {
    width: 42vw;
    height: 36vh;
    margin-left: 120px;
  }

  .about_me {
    margin-top: 40px;
    margin-left: 60px;
    font-size: small;
  }

  .text-3 {
    text-align: center;
    font-size: 20px;
  }

}

@media (max-width: 320px) {
  .text {
    margin-top: 130px;
    margin-left: 10px;
    font-size: x-large;
  }

  p {
    font-size: small;
    margin-top: 1px;
    margin-left: 14px;
  }

  .text-1 {
    margin-top: 220px;
    margin-left: 10px;
    font-size: 18px;
  }

  .text-2 {
    margin-top: 14px;
    margin-left: 100px;
    margin-right: 1px;
    font-size: 15px;
  }

  /* About CSS MOBILE */

  .two_containers {
    height: 265vh;
  }

  .picture, .about_me {
    width: 70vw;
  }

  .picture {
    width: 42vw;
    height: 36vh;
    margin-left: 120px;
  }

  .about_me {
    margin-top: 40px;
    margin-left: 60px;
    font-size: small;
  }

  .text-3 {
    text-align: center;
    font-size: 25px;
  }

}